body {
  margin: 0;
  font-family: "Open Sans" ,Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(5, 222, 239), rgb(37, 91, 218)) repeat scroll 0% 0%;
}
.button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
